@media(max-width: 992px){
    /*NavBar menu*/
    .mostrar-menu, .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #b8aeeb;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    /*First section*/
    #banner {
        flex-direction: column;
    }
    #banner a {
        margin: 0 0 20px 100px;
    }
    #banner div{
        justify-content: center;
    }
    #banner a.first-button {
        display: none;
    } 
    #banner a.second-button{
        display: inline-block;
    }
    /*yellow part*/
    .yellow-up {
        flex-direction: column;
    }
    .yellow-right{
        padding: 40px 0;
    }
    .habilidades {
        margin-right: 100%;
    }
    .yellow-down{
        padding: 0 10px;
        justify-content: center;
    }
    .yellow-down div{
        padding: 20px;  
    }
    .portfolio-images{
        flex-wrap: wrap;
    }
    .portfolio-images a{
        display: block;
    }
    .left-part p{
        margin-right: 0px;
        color: #423f40;
    }
    .left-part h2{
        font-size: 50px;
        margin-right: 0px;
    }
    .right-part{
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
}

@media(max-width: 600px){
    #banner h1{
        font-size: 60px;
    }
    .left-banner {
        width: 400px;
        padding-left: 20px;
    }
    .yellow-up{
        padding: 50px 20px;
    }
    .Contacto{
        flex-direction: column;
    }
    .left-part p{
        margin-right: 0px;
        color: #423f40;
    }
    .left-part h2{
        font-size: 50px;
        margin-right: 0px;
    }
    .right-part{
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
}